
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#top{
    text-align: center;
    background-color: rgb(3, 143, 250);
    padding: 2rem;
}
.counter{
    margin-left: 35%;
    margin-top: 30px;
    background-color: aliceblue;
    width: 350px;
    height: 200px;
    padding: 2.5rem;
}
.btn{
    margin-top: 30px;
    background-color: cadetblue;
    border: none;
    padding: 0.5rem;
}
.btn1{
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgb(60, 186, 190);
    border: none;
    padding: 0.5rem;
}
.btn2{
    margin-top: 30px;
    margin-left: 20px;
    background-color: red;
    border: none;
    padding: 0.5rem;
}