/* 
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
.counter{
    margin-left: 30%;
    margin-top: 30px;
    background-color: aliceblue;
    width: 300px;
    height: 200px;
    padding: 2.5rem;
}
.btn{
    background-color: cadetblue;
    border: none;
    padding: 0.5rem;
}
.btn1{
    margin-left: 20px;
    background-color: rgb(60, 186, 190);
    border: none;
    padding: 0.5rem;
}
.btn2{
    margin-left: 20px;
    background-color: red;
    border: none;
    padding: 0.5rem;
}